<div class="dropdown">
    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="userMenu" data-bs-toggle="dropdown" aria-expanded="false">
        {{ request.user.email }}
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenu">
        <li class="dropdown-item disabled">
            Rol: {{ rol|title }}
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
            <a class="dropdown-item text-danger" href="{% url 'custom_logout' %}">
                <i class="fas fa-sign-out-alt"></i> Deconectare
            </a>
        </li>
    </ul>
</div>
